body {
	font-family: Arial;
}

body, h1, h5 {
	font-family: "Lato", sans-serif
}

.w3-container {
	margin-top: 0 !important;
}

h1 {
	font-family: "Montserrat", sans-serif
}

.fa-coffee {font-size:200px}

img {
	max-width: 100%;
}